# ==============================================================================
# Landing Environment Variables (.env.example)
# ==============================================================================

# Node Environment
NODE_ENV=development

NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_REALTIME_URL=http://localhost:8080
# Установите true для проксирования запросов через Next.js rewrites (Same-Origin)
NEXT_PUBLIC_API_PROXY=true
